rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userID} {
      allow read;
      allow create: if isUserAuthenticated(incomingData().id);
      allow update: if isAuthenticated();

      match /posts/{postID} {
        allow read;
        allow create: if isUserAuthenticated(incomingData().userID);
        allow update: if isUserAuthenticated(incomingData().userID) || request.auth.uid in incomingData().sendMessageUserIDs || request.auth.uid in getAfterData(documentPath(["users",incomingData().userID,"posts",incomingData().postID])).sendMessageUserIDs;
        allow delete: if isUserAuthenticated(incomingData().userID);

        match /chatrooms/{sendUserID} {
          allow read: if isAuthenticated() && (isUserAuthenticated(incomingData().sendUserID) || isUserAuthenticated(incomingData().postUserID));
          allow create: if isUserAuthenticated(incomingData().sendUserID) && incomingData().messageCount == 1;
          allow update: if isAuthenticated() && (isUserAuthenticated(incomingData().sendUserID) || isUserAuthenticated(incomingData().postUserID));
          allow delete: if isUserAuthenticated(incomingData().postUserID);

          match /messages/{messageId} {
            allow read: if isUserAuthenticated(incomingData().userID) || isUserAuthenticated(incomingData().messageReceiverID);
            allow create: if isAuthenticated() && isUserAuthenticated(incomingData().userID) && incomingData().postID == postID;
            allow delete: if (isUserAuthenticated(incomingData().userID) || isUserAuthenticated(incomingData().messageReceiverID)) && incomingData().postID == postID;
          }
        }
      }

      match /reviews/{reviewId} {
        allow read;
        allow create: if isUserAuthenticated(incomingData().postUserID) || isUserAuthenticated(incomingData().reviewerID);
      }

      match /filters/{filterId} {
        allow read: if isUserAuthenticated(userID);
        allow create: if isUserAuthenticated(userID);
        allow update: if isUserAuthenticated(userID);
      }

      match /likePosts/{likePostId} {
        allow read: if isAuthenticated();
        allow create: if isUserAuthenticated(incomingData().likePostUserID);
        allow delete: if isUserAuthenticated(incomingData().userID) || isUserAuthenticated(incomingData().likePostUserID);
      }

      match /drafts/{draftId} {
        allow read: if isUserAuthenticated(userID);
        allow create, update: if isUserAuthenticated(incomingData().userID);
        allow delete: if isUserAuthenticated(userID);
      }

      match /notifications/{notificationId} {
        allow read: if isUserAuthenticated(userID);
        allow create: if isUserAuthenticated(incomingData().sendUserID);
        allow update: if isUserAuthenticated(userID);
        allow delete: if isUserAuthenticated(userID);
      }
    }

    match /reviewsOnHold/{reviewsOnHoldId} {
      allow read: if isAuthenticated();
      allow write: if isAuthenticated();
    }

    match /{paths=**}/reviewsOnHold/{reviewsOnHoldId} {
      allow read: if isAuthenticated();
      allow write: if isAuthenticated();
    }

    match /{paths=**}/posts/{postId} {
      allow read;
    }

    match /{paths=**}/chatrooms/{chatroomId} {
      allow read: if isAuthenticated() && (isUserAuthenticated(incomingData().sendUserID) || isUserAuthenticated(incomingData().postUserID));
    }

    match /{paths=**}/messages/{messageId} {
      allow read: if isUserAuthenticated(incomingData().userID) || isUserAuthenticated(incomingData().messageReceiverID);
    }

    match /{paths=**}/likePosts/{likePostId} {
      allow read: if isAuthenticated();
      allow write: if isAuthenticated();
    }

    match /{paths=**}/reviews/{reviewId} {
      allow read;
      allow create, update: if isAuthenticated();
    }
  }
}


   function documentPath(paths) {
      return path([
        ['databases', database, 'documents'].join('/'),
        paths.join('/')
      ].join('/'));
    }

    function isAuthenticated() {
      return request.auth != null;
    }

    function isUserAuthenticated(userID) {
      return request.auth.uid == userID;
    }

    function incomingData() {
      return request.resource.data;
    }

    function existingData() {
      return resource.data;
    }

    function getData(path) {
      return get(path).data;
    }

    function getAfterData(path) {
      return getAfter(path).data;
    }

    function isRequestedTime(time) {
      return time == request.time;
    }

    function validateString(text, min, max) {
      return text is string
        && min <= text.size()
        && text.size() <= max;
    }

    function validateNumber(num, min, max) {
      return num is number
        && min <= num
        && num <= max;
    }

    function dataDiff() {
      return incomingData().diff(existingData());
    }

    function isNotChanged(keys) {
      let affectedKeys = dataDiff().affectedKeys();
      return !affectedKeys.hasAny(keys.toSet());
    }
