@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

/*==============================================
# tailwind apply
===============================================*/

.filterCheckText {
  @apply font-normal text-sm text-gray-400 inline-block cursor-pointer  hover:bg-gray-50 hover:opacity-95 rounded-full p-1 mr-3 lg:w-full lg:block;
}

.fontSize-xl {
  @apply text-lg md:text-xl;
}

.fontSize-base {
  @apply text-sm md:text-base;
}

.fontSize-sm {
  @apply text-xs md:text-sm;
}

.container-base {
  @apply mx-auto px-2 md:px-3;
}

.button-round {
  @apply mt-6 mb-6 focus:outline-none text-white font-semibold py-3 px-8 rounded-full hidden md:block;
}

.header-height {
  @apply h-12 sm:h-16;
}

.postSelect {
  @apply text-sm md:text-base mb-8 w-full appearance-none relative block px-3 py-2 border border-gray-300 rounded-md placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10;
}

.postInputText {
  @apply mb-8 text-sm md:text-base w-full appearance-none relative block px-3 py-2 placeholder-gray-500 text-gray-900 border border-gray-300 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10;
}

.pageTitle{
  @apply fontSize-xl text-center mt-8 mb-7 text-gray-900 md:mt-10 md:mb-9;
}

/*==============================================
# slickの設定
===============================================*/

.slick-dots {
  margin-top: 5px;
  margin-left: -5px;
  margin-right: -5px;
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .slick-dots {
    margin-top: -3px;
    z-index: 10;
  }
}

.slick-dots li {
  list-style: none;
  display: inline-block;
  max-width: 1120px;
  max-height: 56px;
  margin: 5px;
}

@media screen and (max-width: 768px) {
  .slick-dots li {
    height: 8px;
    width: 8px;
    border-radius: 1000px;
    background-color: rgba(55, 65, 81, 0.2);
    z-index: 10;
  }

  .slick-dots .slick-active {
    background-color: rgba(55, 65, 81, 0.6);
  }
}
@media screen and (max-width: 768px) {
  .slick-dots li button {
    display: none;
  }
}

.slick-dots img {
  object-fit: cover;
  max-height: 54px;
  max-width: 96px;
  cursor: pointer;
}

.slick-current {
  position: relative;
}

.slick-current img {
  border: 0 !important;
}

.slick-current img:focus {
  border: 0 !important;
}

.slick-slider svg {
  height: 50px;
  width: 50px;
  color: #d1d5db;
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .slick-slider svg {
    height: 35px;
    width: 35px;
  }
}

.slick-next {
  position: absolute;
  right: 0 !important;
  top: 0;
  bottom: 0 !important;
  margin: auto !important;
}

.slick-prev {
  position: absolute;
  left: 0 !important;
  top: 0;
  bottom: 0 !important;
  margin: auto !important;
}

@media screen and (max-width: 768px) {
  .slick-next {
    top: 30px !important;
  }

  .slick-prev {
    top: 30px !important;
  }
}
.slick-arrow {
  z-index: 2 !important;
  cursor: pointer;
}

.slick-dots img {
  -webkit-filter: grayscale(50%);
  -moz-filter: grayscale(50%);
  -o-filter: grayscale(50%);
  filter: grayscale(50%);
  opacity: 0.5;
}

.slick-dots > .slick-active img {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
  filter: grayscale(0);
  opacity: 1;
}

/*==============================================
# textの省略
===============================================*/

.myPostTitle {
  font-size: 14px;
  color: #000;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

/*==============================================
# messageのスイッチ
===============================================*/

.message-switch input[type="radio"] {
  display: none;
}

.message-switch input[type="radio"] + label {
  display: inline-block;
  width: 100%;
  padding: 8px;
  background-color: #f3f4f6;
  text-align: center;
  font-size: 16px;
  color: #6b7280;
}

.message-switch input[type="radio"]:checked + label {
  color: #ffffff;
  background-color: #77c649;
  transition: all 0.4s ease-out;
}

/*==============================================
# チャット画面の高さ固定
===============================================*/

.chatScreenHeight {
  min-height: calc(100vh - 175px);
  height: calc(100vh - 175px);
}

/*==============================================
# メッセージのモーダル
===============================================*/
.react-confirm-alert {
  width: 100%;
  max-width: 500px;
}

/*==============================================
# レビューの良い・悪いボタン
===============================================*/
.good-button {
  color: #6b7280;
}
.good-button input[type="radio"]:checked + div {
  color: #f87171;
}

.bad-button {
  color: #6b7280;
}
.bad-button input[type="radio"]:checked + div {
  color: #60a5fa;
}

/*==============================================
# レビューの総数のスタイル
===============================================*/
.reviewNumbersSize {
  font-size: 0.9rem;
  line-height: 0.9rem;
}

/*==============================================
# レビュー一覧の掲載タイトル
===============================================*/
.reviewPostTitleText {
  line-height: 0.8rem;
  font-size: 0.75rem;
}

.overflow-hidden {
  overflow: hidden;
}

.z-10- {
  z-index: -1;
}

.z-1 {
  z-index: 1;
}
