@import url(./tailwind.css);

/*==============================================
# 共通
===============================================*/

.overflow-hidden {
  overflow: hidden;
}

.z-10- {
  z-index: -1;
}

.z-1 {
  z-index: 1;
}

/*==============================================
# slickの設定
===============================================*/

.slick-dots {
  margin-top: 5px;
  margin-left: -5px;
  margin-right: -5px;
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .slick-dots {
    margin-top: -3px;
    z-index: 10;
  }
}

.slick-dots li {
  list-style: none;
  display: inline-block;
  max-width: 1120px;
  max-height: 56px;
  margin: 5px;
}

@media screen and (max-width: 768px) {
  .slick-dots li {
    height: 8px;
    width: 8px;
    border-radius: 1000px;
    background-color: rgba(55, 65, 81, 0.2);
    z-index: 10;
  }

  .slick-dots .slick-active {
    background-color: rgba(55, 65, 81, 0.6);
  }
}
@media screen and (max-width: 768px) {
  .slick-dots li button {
    display: none;
  }
}

.slick-dots img {
  object-fit: cover;
  max-height: 54px;
  max-width: 96px;
  cursor: pointer;
}

.slick-current {
  position: relative;
}

.slick-current img {
  border: 0 !important;
}

.slick-current img:focus {
  border: 0 !important;
}

.slick-slider svg {
  height: 50px;
  width: 50px;
  color: #d1d5db;
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .slick-slider svg {
    height: 35px;
    width: 35px;
  }
}

.slick-next {
  position: absolute;
  right: 0 !important;
  top: 0;
  bottom: 0 !important;
  margin: auto !important;
}

.slick-prev {
  position: absolute;
  left: 0 !important;
  top: 0;
  bottom: 0 !important;
  margin: auto !important;
}

@media screen and (max-width: 768px) {
  .slick-next {
    top: 30px !important;
  }

  .slick-prev {
    top: 30px !important;
  }
}
.slick-arrow {
  z-index: 2 !important;
  cursor: pointer;
}

.slick-dots img {
  -webkit-filter: grayscale(50%);
  -moz-filter: grayscale(50%);
  -o-filter: grayscale(50%);
  filter: grayscale(50%);
  opacity: 0.5;
}

.slick-dots > .slick-active img {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
  filter: grayscale(0);
  opacity: 1;
}

/*==============================================
# messageのスイッチ
===============================================*/

.message-switch input[type="radio"] {
  display: none;
}

.message-switch input[type="radio"] + label {
  display: inline-block;
  width: 100%;
  padding: 8px;
  background-color: #f3f4f6;
  text-align: center;
  font-size: 16px;
  color: #6b7280;
}

.message-switch input[type="radio"]:checked + label {
  color: #ffffff;
  background-color: #77c649;
  transition: all 0.4s ease-out;
}

/*==============================================
# メッセージのモーダル
===============================================*/
.react-confirm-alert {
  width: 100%;
  max-width: 500px;
}

/*==============================================
# messageの送信ボタン
===============================================*/
.mb-sendButton {
  margin-bottom: 0.075rem;
}

/*==============================================
# チャット画面の高さ固定
===============================================*/

.chatScreenHeight {
  min-height: calc(100vh - 115px);
  height: calc(100vh - 115px);
}

@media screen and (max-width: 640px) {
  .chatScreenHeight {
    min-height: calc(100vh - 0px);
    height: calc(100vh - 0px);
  }
}

/*==============================================
# レビューの良い・悪いボタン
===============================================*/
.good-button {
  color: #6b7280;
}
.good-button input[type="radio"]:checked + div {
  color: #f87171;
}

.bad-button {
  color: #6b7280;
}
.bad-button input[type="radio"]:checked + div {
  color: #60a5fa;
}

/*==============================================
# レビューの総数のスタイル
===============================================*/
.reviewNumbersSize {
  font-size: 0.9rem;
  line-height: 0.9rem;
}

/*==============================================
# レビュー一覧の掲載タイトル
===============================================*/
.reviewPostTitleText {
  line-height: 0.8rem;
  font-size: 0.75rem;
}
